.flip-item-wrap{
  width: 25%;
  height: auto;
  float: left;
  -webkit-perspective:800px;
  -moz-perspective:800px;
  -ms-perspective:800px;
  -o-perspective:800px;
  perspective:800px;
  position:relative;
}
@media screen and (min-width: 1680px) {
  .flip-item-wrap{
  width: 16.6%;
  }
}
@media screen and (max-width: 1680px) {
  .flip-item-wrap{
  width: 20%;
  }
}
@media screen and (max-width: 1280px) {
  .flip-item-wrap{
  width: 25%;
  }
}
@media screen and (max-width: 979px) {
  .flip-item-wrap{
  width: 33.3%;
  }
}
@media screen and (max-width: 639px) {
  .flip-item-wrap{
  width: 50%;
  }
}
@media screen and (max-width: 379px) {
  .flip-item-wrap{
  width: 100%;
  }
}
.flip-item-wrap img{
width:100%;
height:auto;
display:block;
margin:0;
}
.fake-image{
  visibility: hidden;
}
.flip-item{
  display: block;
  width:100%;
  height:100%;
  float:left;
  position:absolute;
  top:0;
  left:0;
  cursor:pointer;
  color:#fff;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transition:-webkit-transform 1s;
  -moz-transition:   -moz-transform 1s;
  -o-transition:     -o-transform 1s;
  transition:        transform 1s;
}
.flip-item figure{
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  margin:0;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
}
.flip-item .back{
  width:100%;
  display:block;
  margin:0;
  -webkit-transform:rotateY( 180deg );
  -moz-transform:rotateY( 180deg );
  -ms-transform:rotateY( 180deg );
  -o-transform:rotateY( 180deg );
  transform:rotateY( 180deg );
}
.flipper:checked + .flip-item{
  -webkit-transform:rotateY( 180deg );
  -moz-transform:rotateY( 180deg );
  -ms-transform:rotateY( 180deg );
  -o-transform:rotateY( 180deg );
  transform:rotateY( 180deg );
}
.flip-item-desc{
  background: rgba(0,0,0,0.2);
  width:90%;
  height:90%;
  padding:5%;
  position:absolute;
  top: 0;
  left: 0;
  text-shadow:1px 2px 1px rgba(0,0,0,0.9);
  overflow:hidden;
}
.flip-item-title{
  font-size: 1.5em;
  margin: 1em 0 0.8em;
}
.back img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}
.fixed-top {
  position:fixed;
  top: 0;
  margin: auto;
  background-color: #FFFFFF;
  z-index: 9;
}
a.play-button {
  color: #FFFFFF;
  text-decoration: none;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-left: -2em;
  margin-top: -2em;
}
a.artist-link {
  color: #FFFFFF;
  position:absolute;
  bottom:0;
}
.pure-menu-link.toggle {
  cursor: pointer;
}
.grids {
  padding-top: 2em;
}
